<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #333;">
        <h4 class="modal-title bebas text-light" id="updatePasswordModal">Update Password</h4>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="updatePasswordForm">
          <label class="bold">Current password:</label>
          <input type="password" name="currentPassword" placeholder="Current password..." class="form-control mb-2">
          <label class="bold">New password:</label>
          <input type="password" name="newPassword" placeholder="New password..." class="form-control mb-2">
          <label class="bold">Confirm New password:</label>
          <input type="password" name="confirmNewPassword" placeholder="Confirm New password..." class="form-control mb-2">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btnDefault" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btnDefault black" id="btnSaveNewPassword">
          <p class="mb-0">
            <span class="spinner-border spinner-border-sm load" role="status" aria-hidden="true" id="saveModalLoad"></span>
            Save
          </p>
        </button>
      </div>
    </div>
  </div>
</div>