<section>  
  <div class="back-row-toggle splat-toggle">
    <div class="rain front-row"></div>
    <div class="rain back-row"></div> 
    <div class="group">
      <div class="wrapper">
        <img src="{{ logo }}" alt="devvime" width="100px">
        <h1 class="mb-3">Blots.js</h1>
        <p>This is a simple SPA Framework JavaScript with routes and view engine.</p>
        <a href="https://github.com/devvime/blots" target="_blank"><strong>Github</strong></a>
      </div>
    </div> 
  </div>
</section>