<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <div class="row">
            <div class="col-lg-8">
              <img
                src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80"
                alt="">
            </div>
            <div class="col-lg-4 col-forms">
              <div class="forms">
                <form id="login">
                  <h2 class="bebas"><strong>Login</strong></h2>
                  <input type="email" name="email" id="email" class="form-control mb-2" placeholder="E-mail..." required
                    autocomplete="off">
                  <input type="password" name="password" id="pass" class="form-control mb-3" placeholder="Password..."
                    required autocomplete="off">
                  <button type="submit" class="btnDefault" id="btn-login">
                    <p class="mb-0 d-flex">
                      <span class="spinner-border spinner-border-sm load" role="status" aria-hidden="true" id="authLoad"></span>
                      Login
                    </p>
                  </button>
                  <button type="button" class="btnDefault black" id="btn-register">Register</button>
                </form>
                <form id="register">
                  <i class="material-icons btn-cancel">arrow_back</i>
                  <h2 class="bebas"><strong>Register</strong></h2>
                  <input type="text" name="name" id="newName" class="form-control mb-2" placeholder="Name..." required autocomplete="off">
                  <input type="email" name="email" id="newEmail" class="form-control mb-2" placeholder="E-mail..." required autocomplete="off">
                  <input type="password" name="password" id="newPass" class="form-control mb-3"
                    placeholder="Password..." required autocomplete="off">
                  <button type="submit" class="btnDefault black" id="send-register">
                    <p class="mb-0 d-flex">
                      <span class="spinner-border spinner-border-sm load" role="status" aria-hidden="true" id="registerLoad"></span>
                      Register
                    </p>                    
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>