body  
  background: linear-gradient(to bottom, #282828, #111119)
  .load
    display: none
    margin-right: 8px
    margin-top: 4px
  .loading
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: auto
  .swal-text
    text-align: center
  .box
    background-color: #f5f5f5
    padding-right: 1.5em
    width: 100%    
    transition: all .5s
    img
      width: 100%
      height: auto
      min-height: 594.75px
    .col-forms
      display: flex
      align-items: center
      min-width: 332.72px
      .forms
        width: 100%
        position: relative
        h2
          font-size: 2.5em
          color: #333
    #login,
    #register,
    #recover-pass,
    #recover-password
      display: none
      i
        cursor: pointer
        color: #333 
    .btn-recover-pass
      cursor: pointer
      transition: all .5s
      width: fit-content
      border-bottom: 1px solid transparent
      font-size: 14px
      &:hover
        transition: all .2s
        border-bottom: 1px solid #333

@media (max-width: 991px)
  body
    .box
      padding: 1.8em
      border-radius: 5px
      min-width: 311.78px
      min-height: 257.59px
      transition: all .5s
      img
        display: none
      .col-forms
        min-width: 280px
